.links 
{
	color: darkblue;
	font-size: medium;
	text-decoration: none;
	
}
.p
{
	color: black;
	font-family:'https://fonts.googleapis.com/css?family=Oxygen:400,300','Segoe UI' ,'Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	font-size: 17px;
	text-align: left;
	

}
.p1
{
	color: black;
	font-family:'https://fonts.googleapis.com/css?family=Oxygen:400,300','Segoe UI' ,'Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	font-size: 21px;
	text-align: left;
	

}
.headers
{
	color: black;
	font-family: 'Helvetica','Muli','Helvetica Neue-Light','Segoe UI' ,sans-serif;
	font-size: 48px;

}
.description
{
 width: 360px; padding: 0 0 0 10px; margin: -105px 30px 0 auto !important; 
}
.body
{
	background:'assets/images(Mordecai.jpg)' no-repeat center center fixed;
	
	background-size: cover;
}
.funny
{
	text-decoration: line-through;
	font-family:'Helvetica','Muli','Helvetica Neue-Light','Segoe UI' ,sans-serif;
	color: red;
}
.quote
{
	width: 360px; padding: 0 0 0 15px; margin: 100px 1000px 0 auto !important; 
	font-size: 22px;
	font-family:'Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	font-style: italic
}
.icons
{
	width: 25px; padding: 0 0 0 0; margin: 0 auto 0 30px;
}