.links 
{
	color: skyblue;
	font-size: medium;
	text-decoration: none;
	
}
.p
{
	color: white;
	font-family:'https://fonts.googleapis.com/css?family=Oxygen:400,300','Segoe UI' ,'Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	font-size: 17px;
	text-align: left;
	

}
.p1
{
	color: white;
	font-family:'https://fonts.googleapis.com/css?family=Oxygen:400,300','Segoe UI' ,'Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	font-size: 21px;
	text-align: left;
	

}
.headers
{
	color: black;
	font-family: 'Helvetica','Muli','Helvetica Neue-Light','Segoe UI' ,sans-serif;
	font-size: 48px;

}

.greeting
{
	position: absolute;
    top: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 40px;
    color: #fff;
}

.description
{
 width: 360px; padding: 0 0 0 10px; margin: 0 30px 0 auto !important;
 background-color: rgba(0, 0, 0, .5);
 padding: 20px;
}
.body
{
	background:'assets/images(Mordecai.jpg)' no-repeat center center fixed;
	
	background-size: cover;
}
.funny
{
	text-decoration: line-through;
	font-family:'Helvetica','Muli','Helvetica Neue-Light','Segoe UI' ,sans-serif;
	color: red;
}
.quote
{
	color: white;
	width: 360px; padding: 0 0 0 15px; margin: 100px 1000px 10px auto !important; 
	font-size: 25px;
	font-family:'https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css','https://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>',Helvetica','Muli','Helvetica Neue-Light',sans-serif;
	background-color: rgba(0, 0, 0, .5);
    padding: 0 10px;
}
.icons
{
	width: 25px; padding: 0 0 0 0; margin: 0 auto 0 20px;
}